* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 39px;
  margin-bottom: 28px;
  color: $key-lime-pie;
  font-weight: 500;
}

h2 {
  font-size: 35px;
  margin-bottom: 28px;
  font-weight: 300;
  text-transform: lowercase;
  color: $boulder;
}

h3 {
  font-size: 31px;
  margin-bottom: 25px;
  color: $key-lime-pie;
  font-weight: 300;
}

h4 {
  font-size: 23px;
  margin-bottom: 22px;
  font-weight: 300;
}

h5 {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 300;
}

h6 {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 500;
}

p {
  font-size: 15px;
  line-height: 41px;
  font-weight: 300;
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
  li {
    margin-left: 15px;
    list-style: circle;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 41px;
  }
}

ol {
  margin: 0;
  padding: 0;
  li {
    list-style-type: decimal;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 41px;
    margin-left: 17px;
    font-weight: 300;
  }
}

a {
  color: $key-lime-pie;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input[type=text], input[type=email], input[type=number], input[type=password] {
  background-color: $gallery;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-top: 14px;
  font-size: 19px;
  width: 100%;
  margin-bottom: 13px;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  font-weight: 500;
  color: $scorpion;
}

input[type=tel] {
  text-transform: lowercase;
  background-color: $gallery;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-top: 14px;
  font-size: 19px;
  width: 100%;
  margin-bottom: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: $scorpion;
}

select {
  padding-left: 15px;
  padding-bottom: 13px;
  padding-top: 14px;
  background-color: $gallery;
  font-size: 24px;
  width: 100%;
  line-height: 46px;
  margin-bottom: 12px;
  color: $scorpion;

}

textarea {
  width: 100%;
  background-color: $gallery;
  font-size: 19px;
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 20px;
  resize: none;
  color: $scorpion;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  margin-bottom: 19px;
  font-weight: 500;
}

blockquote {
  background-color: $gallery;
  margin-bottom: 50px;
  border-left: 4px solid $key-lime-pie;
  padding: 20px 15px 20px 30px;
  font-size: 17px;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 41px;
}

input[type=submit] {
  padding: 0 50px;
  line-height: 53px;
  background-color: $key-lime-pie;
  color: #fff;
  font-size: 23px;
  margin-bottom: 15px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

button {
  padding: 0 50px;
  line-height: 53px;
  background-color: $key-lime-pie;
  color: #fff;
  font-size: 23px;
  margin-bottom: 15px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.mp_btn {
  padding: 0 50px;
  line-height: 53px;
  background-color: $key-lime-pie;
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  &:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
  }
}