// Brand Colors
$key-lime-pie       : #C3CF21;
$thunder            : #231F20;
$white              : #ffffff;
$sunset-orange      : #FC4646;
$gamboge            : #E8900C;
$picton-blue        : #46BAEB;
$buddha-gold        : #CCA806;
$lavender           : #D943DE;
$sycamore           : #93993D;
$mariner            : #307CD1;
$olivine            : #A0B76B;
$electric-violet    : #670FE6;
$thunder            : #231f20;
$black              : #000000;
$boulder            : #757474;
$scorpion           : #5a5a5a;
$gallery            : #F0F0F0;
$boulder            : #757474;
$aqua-haze          : #EEF3F5;
$loblolly           : #BDC2C8;
$oslo-gray          : #828384;
$iron               : #caced3;
$electric-violet    : #660ce8;
$mercury            : #e2e2e2;
$dusty-gray         : #989898;

// Basic Variables
$container_w_home: 1179px;
$container_w: 1070px;
