/* about page */
.mp_about {
  margin-bottom: 53px;
  @include media('>=phone', '<tablet') {
        margin-bottom: 19px;
      }
  .mp_container {

    h2 {
      font-weight: 300;
      color: $boulder;
      margin-bottom: 40px;
      @include media('>=phone', '<=desktop') {
        margin-bottom: 10px;
      }
    }
    p {
      color: $boulder;
      font-size: 15px;
      margin-bottom: 40px;
    }

    h4 {
      color: $key-lime-pie;
      font-weight: 500;
      margin-bottom: 22px;
    }

    textarea {
      height: 131px;
    }

    input[type="submit"] {
      width: 391px;
      line-height: 53px !important;
      padding: 0 !important;
      margin-bottom: 0 !important;
      @include media('>=phone', '<tablet') {
        width:100%;
      }
    }
  }
}