/* ======== BANNER ======== */

/* Home Banner*/
#mp_banner {
  .mp_banner_slide {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    clear: both;
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
    .mp_banner_overlay {
      width: 1179px;
      position: absolute;
      left: 50%;
      margin-left: -593px;
      top: 0;
      height: 100%;
      .mp_banner_overlay_solid_home {
        background: $thunder;
        height: 100%;
        width: 391.5px;
        float: right;
        position: relative;
        .mp_banner_overlay_solid_text {
          position: absolute;
          bottom: 67px;
          left: 0;
          @include media('>=phone', '<=desktop') {
            display: none;
          }
          div {
            position: relative;
            bottom: 0;
            left: 0;
            padding: 0 30px;
            p {
              color: $white;
              font-weight: 300;
              font-size: 19px;
              line-height: 25px;
              margin-bottom: 26px;
            }
            span {
              font-weight: 500;
              font-size: 19px;
              border-bottom: 1px solid;
              color: $white;
              &:hover {
                text-decoration: none;
                color: $key-lime-pie;
              }
            }
          }
        }
        img {
          position: absolute;
          width: 79px;
          height: 76px;
          right: 0;
          bottom: 35px;
        }
      }
      .mp_banner_title_home {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -136px;
        margin-top: -130px;
        font-size: 35px;
        color: $white;
        z-index: 8000;
        font-weight: 500;
        @include media('>=phone', '<=desktop') {
          display: none;
        }
        span {
          color: $key-lime-pie;
          padding-left: 20px;
        }
      }
    }
  }

  /* Other Banners*/
  .mp_banner_slide {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    clear: both;
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
    .mp_banner_overlay {
      width: 1179px;
      position: absolute;
      left: 50%;
      margin-left: -593px;
      top: 0;
      height: 100%;
      @include media('>=phone', '<=desktop') {
        display: none;
      }
      .mp_banner_overlay_solid {
        background: $lavender;
        height: 265px;
        width: 391.5px;
        right: 0;
        bottom: 0;
        position: absolute;
        &.mp_orange {
          background: $sunset-orange;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_gamboge {
          background: $gamboge;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_blue {
          background: $picton-blue;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_gold {
          background: $buddha-gold;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_lavender {
          background: $lavender;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_sycamore {
          background: $sycamore;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_mariner {
          background: $mariner;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_olivine {
          background: $olivine;
          &:hover {
            background: $thunder;
          }
        }
        &.mp_violet {
          background: $electric-violet;
          &:hover {
            background: $thunder;
          }
        }
        .mp_banner_overlay_solid_text {
          position: absolute;
          bottom: 67px;
          left: 0;
          @include media('>=phone', '<=desktop') {
            display: none;
          }
          div {
            position: relative;
            bottom: 0;
            left: 0;
            padding: 0 50px;
            h2 {
              color: $white;
              font-weight: 400;
            }
            p {
              color: $white;
              font-weight: 300;
              font-size: 19px;
              line-height: 25px;
              margin-bottom: 26px;
            }
            span {
              font-weight: 500;
              font-size: 19px;
              border-bottom: 1px solid;
              color: $white;
              &:hover {
                text-decoration: none;
                color: $key-lime-pie;
              }
            }
          }
        }
        img {
          position: absolute;
          width: 79px;
          height: 76px;
          right: 0;
          bottom: 35px;
        }
      }

      .mp_banner_title {
        width: 425px;
        position: absolute;
        top: 13%;
        left: 62%;
        font-size: 35px;
        color: $white;
        z-index: 8000;
        font-weight: 500;
        @include media('>=phone', '<=desktop') {
          display: none;
        }
        h2 {
          color: $white;
          font-size: 37px !important;
          font-weight: 700 !important;
          margin-bottom: 15px !important;
        }
        p {
          font-size: 21px;
          color: $white;
          line-height: 30px;

          a {
            border-bottom: 1px solid;
            color: $white;
            font-size: 18px !important;
            font-weight: 400 !important;
            cursor: pointer;
            &:hover {
              text-decoration: none;
              color: $key-lime-pie;
            }
          }
        }
        &.mp_banner_title_black {
          h2 {
            color: $thunder;
          }
          p {
            color: $thunder;
          }
          a {
            color: $thunder;
          }
        }
      }
    }
  }
}

.mp_banner_bottom_bar_home {
  width: 100%;
  background: $thunder;
  display: none;
  @include media('>=phone', '<=desktop') {
    display: block;
  }
  .mp_container {
    position: relative !important;
    height: 115px;
    display: table;
    .mp_banner_title {
      z-index: 8000;
      display: table-cell;
      vertical-align: middle;
      h6 {
        font-size: 1.5em;
        color: $white;
        font-weight: 500;
        line-height: 25px;
        @include media('>=phone', '<tablet') {
          margin-bottom: 10px;
        }
        @include media('>=tablet', '<=desktop') {
          font-size: 2.3em;

        }
        span {
          color: $key-lime-pie;
        }
      }
      p {
        font-size: .8em;
        color: $white;
        line-height: 21px;
        margin-bottom: 0;
      }
      a {
        color: $white;
        border-bottom: 1px solid;
        font-size: 1em;
        &:hover {
          text-decoration: none;
        }
      }
    }
    img {
      position: absolute !important;
      width: 45px !important;
      height: 46px !important;
      right: 0 !important;
      bottom: 0 !important;
    }
  }
}

/* ======== BANNER-INNER ======== */
.mp_banner_inner {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  clear: both;
  margin-bottom: 70px;
  @include media('>=phone', '<=desktop') {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  .mp_banner_overlay {
    width: 1179px;
    position: absolute;
    left: 50%;
    margin-left: -593px;
    top: 0;
    height: 100%;
    @include media('>=phone', '<=desktop') {
      width: 100%;
    }
    .mp_banner_black_overlay {
      background: $thunder;
      height: 100%;
      width: 391.5px;
      float: right;
      position: relative;
      @include media('>=phone', '<=desktop') {
        display: none;
      }
      img {
        position: absolute;
        width: 79px;
        height: 76px;
        right: 0;
        bottom: 0 !important;
      }
    }
    .mp_banner_title {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -136px;
      margin-top: -85px !important;
      font-size: 35px;
      color: $white;
      z-index: 8000;
      font-weight: 500;
      @include media('>=phone', '<=desktop') {
        display: none;
      }
      span {
        color: $key-lime-pie;
        padding-left: 20px;
      }
    }
  }
  .mp_banner_bottom_bar {
    width: 100%;
    background: $thunder;
    display: none;
    @include media('>=phone', '<=desktop') {
      display: block;
    }
    .mp_container {
      position: relative !important;
      height: 104px;
      display: table;
      .mp_banner_title {
        font-size: 1.5em;
        color: $white;
        z-index: 8000;
        font-weight: 500;
        display: table-cell;
        vertical-align: middle;
        line-height: 25px;
        @include media('>=tablet', '<=desktop') {
          font-size: 2.3em;
        }
        span {
          color: $key-lime-pie;
        }
      }
      img {
        position: absolute !important;
        width: 45px !important;
        height: 46px !important;
        right: 0 !important;
        bottom: 0 !important;
      }
    }
  }
}