/* ======== BASE ======== */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  @include media('>=phone', '<tablet') {
    overflow-x: hidden;
  }
}

.mp_container_home {
  width: $container_w_home;
  margin: 0 auto;

  @include media('>=phone', '<=desktop') {
    width: 100%;
    padding: 0 30px;
  }
}

.mp_container {
  width: $container_w;
  margin: 0 auto;

  @include media('>=phone', '<=desktop') {
    width: 100%;
    padding: 0 30px;
  }
}
