/* ======= FOOTER ======= */
#mp_footer {
  clear: both;
  @include media('>=phone', '<tablet') {
    padding-bottom: 14px;
  }
  #mp_nav_footer {
    float: left;
    @include media('>=phone', '<tablet') {
      width: 100%;
      float: none;
      padding-bottom: 41px;
    }
    ul {
      @include media('>=phone', '<tablet'){
        width: 260px;
        float: none;
        margin: 0 auto;
      }
      li {
        line-height: 64px;
        float: left;
        padding-left: 13px;
        list-style: none;
        margin: 0;
        @include media('>=phone', '<tablet') {
          padding-left: 11px;
          line-height: 49px;
        }
        &:first-child {
          padding-left: 0;
          @include media('>=phone', '<tablet') {
            padding-left: 11px;
          }
        }
        a {
          text-decoration: none;
          color: $thunder;
          font-size: 15px;
          font-weight: 300;
          text-transform: capitalize;
          @include media('>=phone', '<tablet') {
            font-size: 13px;
          }
          &:hover {
            color: $key-lime-pie;
          }

        }
      }
    }
  }
  #mp_logo_footer {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    @include media('>=phone', '<tablet') {
      width: 100%;
      float: none;
    }
    a {
      @include media('>=phone', '<tablet') {
        margin: 0 auto;
        background: url("../images/mobile-footer-logo.png") no-repeat;
        width: 140px;
        height: 45px;
      }
      background: url("../images/logo-footer.png") no-repeat;
      width: 162px;
      height: 53px;
      display: block;
    }
  }
}