/* ======= HEADER ======= */
header {
  padding: 36px 0 0;
  height: 128px;
  width: 1179px;
  margin: 0 auto;
  @include media('>=phone', '<tablet') {
    width: 100%;
    padding: 16px 0;
    height: 81px;
  }
  @include media('>=tablet', '<=desktop', portrait) {
    padding: 16px 9px;
    width: 100%;
    height: 81px;
  }
  @include media('>=tablet', '<=desktop', landscape) {
    padding: 16px 0;
    width: 100%;
    height: 109px;
  }
  .mp_container_home {
    float: left;
    @include media('>=phone', '<tablet') {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    @include media('>=tablet', '<=desktop') {
      padding: 0;
      width: 100%;
    }
    .mp_menu {
      display: none;
      @include media('>=phone', '<tablet') {
        display: block;
        padding-top: 8px;
        float: right;
        color: $black;
        padding-right: 14px;
      }
    }
    .mp-logo {
      margin: 0;
      @include media('>=phone', '<tablet') {
        padding-left: 9px;
      }
      @include media('>=tablet', '<=desktop') {
        padding-left: 9px;
      }
      @include media('>=tablet', '<=desktop' , landscape) {
        padding-left: 18px;
      }
      a {
        background: url(../images/logo.png) no-repeat;
        text-indent: -9000px;
        height: 78px;
        width: 240px;
        display: block;
        float: left;
        @include media('>=phone', '<=tablet') {
          background: url(../images/logo-responsive.png) no-repeat;
          height: 49px;
          width: 151px;
          margin-bottom: 16px;
          display: block;
        }
      }
    }
    #mp-primary-nav {
      float: right;
      padding-top: 19px;
      @include media('>=phone', '<tablet') {
        display: none;
        float: none;
        clear: both;
        padding-top: 0;
        position: absolute;
        top: 80px;
        width: 100%;
        z-index: 2000;
      }
      @include media('>=tablet', '<=desktop', landscape) {
        padding-top: 17px;
        padding-right: 9px;
      }
      @include media('>=tablet', '<=desktop', portrait) {
        padding-top: 3px;
      }
      ul {
        list-style: none;
        ul {
          position: absolute;
          width: 180px;
          display: none;
          z-index: 9000;
          left: 0;
          ul {
            left: 180px;
            top: 0;
          }
          li {
            float: none;
            background: none;
            line-height: 22px;
            padding: 0;
            width: 100%;
            border-bottom: 1px solid $white;
            @include media('>=phone', '<tablet') {
              display: none;
            }
            &:last-child {
              padding-right: 0;
            }
            &:hover > a {
              background: $key-lime-pie;
              color: $black;
            }
            a {
              background: $black;
              color: white;
              padding: 5px 11px;
              display: block;
              &:hover {
                background: $key-lime-pie;
                color: $black;
              }
            }
          }
        }
        li {
          float: left;
          margin: 0;
          list-style-type: none;
          background: url(../images/li-right-border.png) no-repeat right;
          padding: 0 10px;
          position: relative;
          @include media('>=phone', '<tablet') {
            float: none;
            background: none;
            padding: 0;
            border-bottom: 1px solid $white;
          }
          &:hover > a {
            color: $key-lime-pie;
          }
          &:hover > ul {
            display: block;
          }
          &:last-child {
            background: none;
            padding-right: 4px;
            @include media('>=phone', '<tablet') {
              padding: 0;
            }
          }
          &.current-menu-item {
            a {
              color: $key-lime-pie;
            }
          }
          a {
            text-decoration: none;
            font-size: 17px;
            color: $black;
            font-weight: 400;
            display: block;
            @include media('>=phone', '<tablet') {
              text-align: center;
              background: $black;
              color: white;
              display: block;
              line-height: 50px;
            }
            &:hover {
              color: $key-lime-pie;
              @include media('>=phone', '<tablet') {
                background: $key-lime-pie;
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}