/* ======= News======== */
#mp_news {
  .mp_news {
    border-bottom: $oslo-gray 1px solid;
    padding: 37px 0 37px 0;
    overflow: hidden;
    @include media('>=phone', '<tablet') {
      padding: 25px 0 0 0;
      text-align: center;
      padding-left: 0;
      border-bottom: $iron 1px solid;  
    }
    @include media('>=tablet', '<=desktop') {
      padding-left: 18px;
    }
    img {
      margin-top: 26px;
      margin-bottom: 45px;
      float: right;
      border-radius: 50%;
      margin-left: 83px;
      width: 226px;
      height: 225px;
      @include media('>=phone', '<tablet') {
        float: none;
        margin-left: 0;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
        width: 127px;
        height: 125px;
      }
      @include media('>=tablet', '<=desktop') {
        margin-top: 99px;
        margin-left: 46px;
      }
    }
    h3 {
      padding: 0;
      margin: 0;
      display: inline-block;
      @include media('>=phone', '<tablet') {
        text-align: left;
        display: block;
      }
      a {
        color: $boulder;
        font-size: 35px;
        font-weight: 500;
        text-decoration: none;
        text-transform: lowercase;
        @include media('>=phone', '<tablet') {
          display: block;
          text-align: left;
        }
        &:hover {
          color: $key-lime-pie;
        }
      }
    }

    span {
      color: $key-lime-pie;
      font-size: 31px;
      display: block;
      @include media('>=phone', '<tablet') {
        text-align: left;
        display: block;
      }
    }
    p {
      margin-top: 35px;
      color: $boulder;
      font-size: 15px;
      @include media('>=phone', '<tablet') {
        margin-top: 0;
        text-align: left;

      }

      a {
        color: $thunder;
        font-size: 15px;
        border-bottom: 1px solid;
        font-weight: 300;
        margin-left: 5px;
        &:hover {
          border-bottom: 0;
          text-decoration: none;
        }
      }
    }

    &:last-child {
      border: 0;
    }
    &:first-child {
      padding-top: 0;
    }
    .mp_calender_wrap {
      position: relative;
      top: 12px;
      float: right;
      @include media('>=phone', '<tablet') {
        margin-bottom: 30px;
        width: 100%;
      }
      #datepicker {
        position: absolute;
        right: 65px;
        top: 0;
      }
      .mp_calender {
        float: right;
        background: url("../images/calender.png") no-repeat right;
        background-size: 43px 49px;
        height: 53px;
        &:hover {
          text-decoration: none;
        }
        span {
          color: $key-lime-pie;
          font-weight: 500;
          font-size: 17px;
          line-height: 53px;
          width: 195px;
          text-align: center;
          margin-right: 65px;
          background: $thunder;
          position: relative;
          &:hover {
            text-decoration: underline;
          }
          img {
            position: absolute;
            width: 14px;
            height: 27px;
            right: -11px;
            top: -13px;
            @include media('>=phone', '<tablet') {
              top: 14px;
            }
            @include media('>=tablet', '<=desktop') {
              top: -85px;
            }
          }
        }
      }
    }
  }
  &.mp_container {
    padding-bottom: 13px;
    clear: both;
    @include media('>=phone', '<tablet') {
      width: 100%;
      padding-bottom: 0;
    }
  }
}



.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  background: $thunder !important;
  width: 195px;
  height: 250px;
  border-radius: 0;
  border: 0;
  padding: 0 10px;
}
.ui-datepicker-prev.ui-corner-all {
  display: none !important;
}
.ui-datepicker-next.ui-corner-all {
  display: none !important;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  background: inherit !important;
  border: 0 none !important;
  padding: 15px 0 13px !important;
}
.ui-datepicker-month {
  width: 100% !important;
  padding: 0 !important;
  height: 35px !important;
  border-radius: 10px !important;
  text-align: center !important;
  color: $key-lime-pie !important;
  font-size: 21px !important;
  text-transform: lowercase !important;
  margin-bottom: 3px !important;
  background: $white !important;
  font-family: 'Raleway', sans-serif !important;
  line-height: 30px !important;
  font-weight: 500 !important;
}
.ui-datepicker-year {
  width: 100% !important;
  padding: 0 !important;
  height: 35px !important;
  border-radius: 10px !important;
  text-align: center !important;
  color: $key-lime-pie !important;
  font-size: 21px !important;
  background: $white !important;
  font-family: 'Raleway', sans-serif !important;
  line-height: 30px !important;
  font-weight: 500 !important;
}
.ui-datepicker-title {
  margin: 0 !important;
  padding: 0 !important;
}
.ui-datepicker table {
  background: $mercury !important;
  width: 100% !important;
  font-size: 10px !important;
  height: 135px;
  border-radius: 5px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: $mercury !important;
    border: 0 !important;
    color: $thunder !important;
    font-weight: 700 !important;
    text-align: center !important;
}
.ui-datepicker td {
  border: 1px solid $dusty-gray !important; 
}
.ui-datepicker th {
  padding: 0 !important;
  span {
    font-size: inherit !important;
    color: $thunder !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    padding: 5px !important;
  }
}
.ui-datepicker-calendar {
  thead {
    >tr {
      border-bottom: 2px solid $dusty-gray !important;
    }
  }
}
.ui-datepicker .ui-datepicker-title {
  line-height: 0 !important;
}


