/* ======== services ======== */
#mp_services {
    .mp_container_home {
        @include media('>=phone', '<=desktop') {
            padding: 0;
        }
        .mp_service_orange {
            width: 392px;
            height: 267px;
            background: $sunset-orange;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }

            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }
            }
            span {
                color: $white;
                font-size: 19px;
                border-bottom: 1px solid $white;
                font-weight: 500;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }
            }
        }
        .mp_service_gamboge {
            width: 392px;
            height: 267px;
            background: $gamboge;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }

            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }

            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }

            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            //    @include media('>=tablet', '<=desktop') {}


            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }


            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }
            }
        }
        .mp_service_blue {
            width: 392px;
            height: 267px;
            background: $picton-blue;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }

            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 42px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                line-height: 31px;


                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                    line-height: 58px;
                }

            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }


            }
        }
        .mp_service_gold {
            width: 392px;
            height: 267px;
            background: $buddha-gold;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }

            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 200;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }
            }
        }
        .mp_service_lavender {
            width: 392px;
            height: 267px;
            background: $lavender;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }
            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }
            }
        }
        .mp_service_sycamore {
            width: 392px;
            height: 267px;
            background: $sycamore;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }
            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }
            }
        }
        .mp_service_mariner {
            width: 392px;
            height: 267px;
            background: $mariner;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }
            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }

            }

            .mp_service_mariner {
                width: 392px;
                height: 267px;
                background: $mariner;
                position: relative;
                float: left;
                @include media('>=phone', '<tablet') {
                    width: 100%;
                    height: auto;
                    margin-bottom: 1px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    width: 33.3333%;
                }
                &:hover {
                    background: $thunder;
                }
                a {
                    text-decoration: none;
                    padding: 44px 58px 0;
                    display: block;
                    @include media('>=phone', '<tablet') {
                        padding: 0 0 0 20px;
                        line-height: 58px;
                    }
                    @include media('>=tablet', '<=desktop') {
                        padding: 30px 0 0 22px;
                    }
                }
                h2 {
                    font-size: 35px;
                    color: $white;
                    margin-bottom: 22px;
                    font-weight: 300;
                    @include media('>=phone', '<tablet') {
                        font-size: 21px;
                        margin-bottom: 0;
                    }
                }
                p {
                    font-size: 19px;
                    margin-bottom: 28px;
                    color: $white;
                    line-height: 25px;
                    font-weight: 300;
                    @include media('>=phone', '<tablet') {
                        display: none;
                    }

                }
                span {
                    color: $white;
                    font-size: 19px;
                    font-weight: 500;
                    border-bottom: 1px solid $white;
                    @include media('>=phone', '<tablet') {
                        display: none;
                    }

                }
                img {
                    position: absolute;
                    right: 0;
                    bottom: 36px;
                    @include media('>=phone', '<tablet') {
                        width: 45px;
                        height: 46px;
                        top: 12px;
                    }
                }

            }
        }
        .mp_service_olivine {
            width: 392px;
            height: 267px;
            background: $olivine;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }
            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }
            }

        }
        .mp_service_violet {
            width: 392px;
            height: 267px;
            background: $electric-violet;
            position: relative;
            float: left;
            @include media('>=phone', '<tablet') {
                width: 100%;
                height: auto;
                margin-bottom: 1px;
                line-height: 58px;
            }
            @include media('>=tablet', '<=desktop') {
                width: 33.3333%;
            }
            &:hover {
                background: $thunder;
            }
            a {
                text-decoration: none;
                padding: 44px 58px 0;
                display: block;
                @include media('>=phone', '<tablet') {
                    padding: 0 0 0 20px;
                    line-height: 58px;
                }
                @include media('>=tablet', '<=desktop') {
                    padding: 30px 0 0 22px;
                }
            }
            h2 {
                font-size: 35px;
                color: $white;
                margin-bottom: 22px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 19px;
                margin-bottom: 28px;
                color: $white;
                line-height: 25px;
                font-weight: 300;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            span {
                color: $white;
                font-size: 19px;
                font-weight: 500;
                border-bottom: 1px solid $white;
                @include media('>=phone', '<tablet') {
                    display: none;
                }

            }
            img {
                position: absolute;
                right: 0;
                bottom: 36px;
                @include media('>=phone', '<tablet') {
                    width: 45px;
                    height: 46px;
                    top: 12px;
                }
            }
        }
    }
}