.mp_wealth {
  .mp_container {
    .mp_txt_wealth {
      width: 572px;
      color: $boulder;
      float: left;
      font-weight: 300;
      @include media ('>=tablet', '<=desktop') {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
      }
      @include media ('>=phone', '<tablet') {
        width: 100%;
        margin-bottom: 45px;
      }
      h2 {
        font-weight: 300;
      }
      p {
        @include media ('>=phone', '<tablet') {
          margin-bottom: 0;
        }
      }
    }
    .mp_wealth_form {
      @include media('>=tablet', '<=desktop') {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        float: none;
      }
      @include media('>=phone', '<tablet') {
        width: 100%;
        margin: 0 auto;
        float: left;
      }
      width: 391px;
      float: left;
      margin: 15px 0 72px 106px;

      h4 {
        color: $key-lime-pie;
      }
    }
    .mp_wealth_form {
      input {
        color: $scorpion;
      }
      .mp_wealth_submit {
        color: white;
        width: 100%;
      }
    }
  }
}
